<div class="container-home">
  <div class="home-aside">
    <div class="container-input">
      <input
        class="input-search"
        [class.error]="inputSearchCtrl.invalid && inputSearchCtrl.touched"
        [formControl]="inputSearchCtrl"
        (keydown.enter)="searchGif($event)"
        placeholder="Search"
        type="text"
        name="input_search"
        id="input_search"
        autocomplete="off"
      />
      <i class="fa-solid fa-magnifying-glass input-icon"></i>
      <i
        class="fa-solid fa-xmark input-icon-del"
        (click)="cleanInputSearch()"
        [class.none]="!(inputSearchCtrl.getRawValue().length > 3)"
      ></i>
    </div>
    <p>Tendencias</p>
    <ul class="home-listtags">
      <li class="tag" (click)="searchTerm(tag)" *ngFor="let tag of tags()">
        <i class="fa-solid fa-hashtag"></i>&nbsp;{{ tag }}
      </li>
    </ul>
    @if (loader_tags()) {
      <ul class="home-listtags">
        <ngx-skeleton-loader
          *ngFor="let x of [1, 2, 3, 4, 5]"
          animation="progress"
          class="loader-tags"
          [theme]="{ width: '80px', height: '30px' }"
          count="5"
          appearance="custom-content"
        />
      </ul>
    }
  </div>

  <div class="home-listgifs">
    <app-gif-card
      style="width: 100%"
      *ngFor="let gif of gifs()"
      [gif]="gif"
    ></app-gif-card>
    @if (loader_gifs()) {
    <ngx-skeleton-loader
      *ngFor="let x of [1, 2, 3]"
      animation="progress"
      class="loader"
      [theme]="{ width: '100%', height: '300px' }"
      count="5"
      appearance="custom-content"
    />
    }
  </div>
</div>
