.home-listtags, .home-listgifs{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.home-listtags{
  list-style: none;
  flex-wrap: wrap;
  font-size: 12px;
  .tag{
    width: auto;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .2s;
    &:hover{
      background-color: #ccc;
    }
  }
}

.home-listgifs{
  flex-wrap: wrap;
}
