<footer class="footer">
  <ul class="menu-socialLinks">
    <li>
      <a class="link-socialLinks" href="https://github.com/JosephSB" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
    <li>
      <a class="link-socialLinks" href="https://www.linkedin.com/in/joseph-silva-bendezu-2882a5211/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a class="link-socialLinks" href="https://www.instagram.com/josep.silvab/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
  </ul>
  <p>Made with ❤️ by JosephSB</p>
  <p>© 2024 Joseph Silva Bendezu. All Rights Reserved.</p>
</footer>
